.container-about-us {
    width: 1170px;
    padding-bottom: 20px;
}

h1 {
    font-size: 48px;
}

h3 {
    color: #01001e;
}

.hp-text {
    font-style: italic;
}

.main-title {
    color: #1bbcff;
    padding-bottom: 30px;
}

.navbar-default {
    background-color: #000;
    border-color: #e7e7e7;
}

.nav-link {
    color: white !important;    
}

.no-padding {
    padding: 0;
}

td, th {
    padding: 10px;
}

tr {
    border: 1px solid black;
}

p {
    font-size: 20px;
    font-family: fantasy
}
